@import url('https:///fonts.googleapis.com/css?family=Lato');


::-webkit-scrollbar {
    width: 5px;

}
::-webkit-scrollbar-button:vertical:increment {
    background: #888;
    height: 10px;
    border-radius: 0px 0px 3px 3px;
}
::-webkit-scrollbar-button:vertical:decrement {
    background: #888;
    border-radius: 3px 3px 0px 0px;
}

::-webkit-scrollbar-track-piece {
    background: #888;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
}​

/*links*/
a:link{
    text-decoration: none;
}

.hljs,article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 35px;
}
h2 {
    margin: 0;
    padding: 5px 0px;
}

.sidebar, body {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    font-size: 16px;
    /*line-height 글씨 키우고 싶으면*/ 
}

button, html input[type=button], input[type=submit] {
    cursor: pointer;

}

#logo {
    margin-top: 37px;
    margin-left: 47px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?y5w1q0');
    src:  url('../fonts/icomoon.eot?y5w1q0#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?y5w1q0') format('truetype'),
        url('../fonts/icomoon.woff?y5w1q0') format('woff'),
        url('../fonts/icomoon.svg?y5w1q0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change ../fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e901";
}
.icon-search:before {
    content: "\e900";
}


#wrapper {
    display: flex;  
    justify-content: flex-end;
}

.sidebar {
    width: 300px;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    position: fixed;

    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100%;
    padding-left: 300px;
    position: relative;
    overflow-y: auto;
    z-index: 3;
}


.sidebar-toggle i {
    color: #e1e1e1;
    font-size: 1em;
}

.sidebar-toggle {
    z-index: 99;
    position: fixed;
    background-color: transparent;
    font-size: 25px;
    border: none;
    padding: 0;
    left: 18px;
    top: 8px;
    transform: translateX(250px);
}


.sidebar {
    background: #373f52;
    color: #d5dae6;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    body .content {
        z-index:0;
        padding-left: 0
    }

    body .sidebar {
        z-index: 3;
        transform: translateX(-102%);
    }
}


@media screen and (max-width: 768px) {
    body.sidebar-opened .sidebar{
        transform:translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .sidebar-toggle {
        transform:translateX(0);
        left: 5px;
        top: 5px;
    }

    .sidebar-opened .sidebar-toggle {
        left: 18px;
        top: 5px;
    }
}


@media screen and (max-height: 500px) {
    .sidebar {
        overflow-y:auto;
    }

    .sidebar #full-list {
        overflow: visible;
    }
}
.sidebar .sidebar-listNav li, .sidebar .sidebar-listNav li a {
    font-size: 14px;
}

.sidebar ul li {
    margin: 0;
    padding: 0 10px;
}

.sidebar a {
    color: #d5dae6;
    text-decoration: none;
}

.sidebar .sidebar-lang {
    margin: 15px;
}

.sidebar .sidebar-lang ul {
    display: flex;
}

.sidebar .sidebar-lang ul li {
    display: inline;
    padding: 3px;
    flex: 1 1;
    display: flex;
    justify-content: center;
}

.sidebar .sidebar-listNav {
    padding: 10px 30px 20px;
    margin: 0;
}


.sidebar .sidebar-listNav li {
    padding-left: 17px;
    border-left: 3px solid transparent;
    line-height: 27px;
    transition: all .3s linear;
    padding-bottom: 5px;
}

.sidebar .sidebar-listNav li.selected, .sidebar .sidebar-listNav li.selected a, .sidebar .sidebar-listNav li:hover, .sidebar .sidebar-listNav li:hover a {
    border-color: #9768d1;
    color: #fff;
}

.sidebar .sidebar-search {
    margin: 23px 30px 18px;
    display: flex;
}

.sidebar .sidebar-search .sidebar-searchInput {
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #959595;
    margin-left: 5px;
    height: 20px; 
} 

.sidebar #full-list {
    margin: 0 0 0 30px;
    padding: 10px 20px 40px;
    overflow-y: auto;
    flex: 1 1;
}

.sidebar #full-list li {
    padding: 0;
    line-height: 27px;
}
.sidebar #full-list>li {
    margin: 3px;
}

.sidebar #full-list ul {
    margin: 9px 15px;
    padding: 0;
}

.content .content-menu {
    border-bottom: solid 1px #e1e1e1;
    margin: 10px 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content-inner{
    margin-left: 20px;
    margin-right: 20px;
}

.loginBar {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.loginBar li {
    margin-right: 15px;
}

.loginBar li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

.loginBar a:hover {
    color: #fc945d;
    transition: all .125s linear;
    cursor: pointer;
}

body.sidebar-opened .sidebar-toggle {
    transform: translate(250px);
}

body.sidebar-closed .sidebar{
    visibility: hidden;
    z-index: 0;
}

body.sidebar-closed .sidebar-toggle i {
    color: #000000;
}

body.sidebar-closed .sidebar-toggle {
    transform: none;
}

body.sidebar-closed .content {
    padding-left: 0;
}




/*login*/
#loginButton a{
    text-decoration: none;
    color: #000000;
    font-size: 17px;

}

#loginButton a:hover {
    color: #fc945d;
    transition: all .125s linear;
    cursor: pointer;
}

.loginInput{
    margin-right: 20px;
    float: right;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #4b5772;
    color: white;
    margin: auto;
    padding: 20px;
    width: 300px;
}

.modal-content a{
    color:white;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*char word sentence menu*/

#char:hover, #word:hover, #sent:hover{
    cursor: pointer;
}

/*lang choice*/
.lang-choice:hover{
    cursor: pointer;
    color: #888;
}

/*Start hidden except for the korean char*/
#wordKorean, #sentKorean, #charViet, #wordViet, #sentViet, #charNederlands, #wordNederlands, #sentNederlands{
    display: none;
}

/*background and height*/
div[id$='Nederlands']{
    padding: 10px;
    background-image: url("../nederlands/nlBG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
div[id$='Viet']{
    background-image: url("../vietnamese/pink.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wordImage{
    height: 100px;
}

/* Contents */
.content-inner{
    max-width: 949px;
    margin: 0 auto;
    padding: 3px 60px;
    display: flex;
}

.content-innerDutch{
    padding: 3px 60px;
}

.Contents_Layout {
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
    margin: 10px;
}

.Title_Layout {
    padding: 0px;
    margin: 0px;
    width: 49%;
    text-align: center;
    border: 1px solid black;
}

.Audio_Layout {
    padding: 0px;
    margin: 0px;
    width: 49%;
    text-align: center;
}

.Explain_Layout {
    padding: 0px;
    margin: 0px;
    width: 99%;
    border: 1px solid black;
}

.Image_Layout {
    width: 49%;
    margin: 0px;
}

.Mean_Layout {
    width: 49%;
    text-align: center;
    padding-top: 20px;
}

.sent_Layout {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px dashed black;
}

.content-inner .Mean_Layout {
    font-size: 30px;
}

.content-inner .Explain_Layout{
    padding: 0 10px;
}


footer {
    border-top: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px 50px;

}

#full-list .list-opend {
    display: block;
}

[class$="Char"] {
    display: none;
}

.space {
    padding-top: 10px;
}

.drag {
    border: 1px solid black;
    display: inline-block;
    margin: 0px 10px;
}


/* audio*/
audio{
    margin-left: 1cm;
    width: 100px;
    padding: 10px;
}

/*Viet*/
#vletter img{
    height: 0px;
    width: 10px;
}
#charViet, #wordViet, #sentViet{
    width: 1000px;
    height: 1400px;
}
#charViet conso,#wordViet conso{
    background-color: blue;
    border: none;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1cm;
    color: white;
}

#charViet vow,#wordViet vow{
    background-color: red;
    border: none;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1cm;
    color: white;
}
#charViet h1 img{
    width: 100px;
    height: 50px;
}
#charViet h1{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;

    margin-left: 4.5cm;
    padding: 10px;
    font-family: 'Trocchi', serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}
#wordViet h1 img{
    width: 100px;
    height: 50px;
}
#wordViet h1{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;

    margin-left: 5.5cm;
    padding: 10px;
    font-family: 'Trocchi', serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}
#sentViet h1 img{
    width: 100px;
    height: 50px;
}
#sentViet h1{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;


    margin-left: 5.5cm;
    padding: 10px;
    font-family: 'Trocchi', serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}
#caption{
    font-weight: bold;
    color: black;
    margin-left: 2cm;
    font-size: 30px;
}
#charViet li, #wordViet li{
    margin-left: 1cm;
    font-weight: bold;
}
#sentViet li{
    margin-left: 1cm;
    font-style: italic;

}
#viet_box{
    width: 700px;
    background-color: white;
    padding: 20px;
    margin-left: 1cm;
    border: solid 3px;
    color: red;
    border-radius: 15px;
}
#viet_box img{
    height: 60px;
    width: 150px;
    padding: 10px;
}
#viet_box1{
    width: 500px;
    background-color: white;
    padding: 20px;
    margin-left: 1cm;
    border: solid 3px;
    color: red;
    border-radius: 15px;
}
#viet_box1 img{
    height: 100px;
    width: 200px;
    padding: 10px;
}
#viet_box2{
    width: 800px;
    background-color: white;
    padding: 20px;
    margin-left: 1cm;
    border-radius: 15px;
    border: solid 3px;
    color: red;
}
sent{
    /*font-style: italic;*/
    font-size: 17px;
    margin-left: 1cm;
    font-weight: bold;
}
/*end_Viet*/

#databox {
    text-align: center;
}

.clearButton {
    text-align: center;
    padding: 0px 0px 30px 50px;
    margin: 0;
    float:left;
    font-size: 14px;
    color: #d5dae6;  
}

.clearButton:hover {
    cursor: pointer;
    color: #888;
}

